<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs')%>
<body>
 <%- include('./partials/nav.ejs')  %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum soluta sunt, repudiandae molestiae, omnis numquam excepturi, ullam sequi distinctio nobis at! Commodi laudantium cupiditate magnam nulla sequi ratione assumenda alias.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum soluta sunt, repudiandae molestiae, omnis numquam excepturi, ullam sequi distinctio nobis at! Commodi laudantium cupiditate magnam nulla sequi ratione assumenda alias.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum soluta sunt, repudiandae molestiae, omnis numquam excepturi, ullam sequi distinctio nobis at! Commodi laudantium cupiditate magnam nulla sequi ratione assumenda alias.</p>

    </div>

      <%- include('./partials/footer.ejs')%>
</body>
</html>